@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #1f2937;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}

.container {
	margin: 0 50px;
}

h1 {
	color: white;
	font-size: 4rem;
	margin-bottom: 0;
}

h1 span {
	color: #4adf86;
}

p {
	margin: 0;
}

.heading-description {
	color: #d5d4d8;
	font-size: 2rem;
	font-weight: 400;
}

#generate-passwords-btn {
	background-color: #10b981;
	padding: 10px 15px;
	margin-bottom: 35px;
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
	color: #ffffff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#generate-passwords-btn:active {
	transform: translateY(1px);
}

.input-fields {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	color: #ffffff;
}

input[type="checkbox"],
input[type="range"] {
	accent-color: #10b981;
}

hr {
	background-color: #2f3e53;
	border: none;
	height: 1px;
	max-width: 680px;
	margin: 0 0 40px 0;
}

.passwords-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	color: #55f991;
	font-size: 1.6rem;
}

.password-box {
	align-items: center;
	justify-content: center;
	background-color: #273549;
	min-width: 210px;
	max-height: 300px;
	height: 40px;
	border-radius: 6px;
	padding: 10px 0;
	display: flex;
}

.copy1,
.copy2 {
	display: none;
}

.btn {
	display: none;
	font-family: inherit;
	background-color: black;
	color: #10b981;
	border: 1px solid black;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background-color: #1f2937;
}

@media (min-width: 760px) {
	html {
		font-size: 20px;
	}

	.password-box {
		padding: 10px 20px;
	}

	.passwords-field {
		flex-direction: row;
	}
}
