@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.container {
    margin: 0 50px;
}

h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 0;
}

h1 span {
    color: #4ADF86;
}

p {
    margin: 0;
}

.heading-description {
    color: #D5D4D8;
    font-size: 2rem;
    font-weight: 400;
}

#generate-passwords-btn {
    background-color: #10B981;
    padding: 10px 15px;
    margin: 50px 0 35px 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

hr {
    background-color: #2F3E53;
    border: none;
    height: 1px;
    max-width: 680px;
    margin: 0 0 40px 0;
}

.passwords-field {
    display: flex;
    gap: 24px;
    color: #55F991;
    font-size: 1.6rem;
}

.password-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273549;
    min-width: 210px;
    height: 40px;
    border-radius: 6px;
    padding: 10px 0;
}

@media (min-width: 760px) {
    html {
        font-size: 20px;
    }

    .password-box {
        padding: 10px 20px;
    }
}